# Virtuelle Umgebungen
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Temporäre Referenzdateien
references/*.tmp

# CTSVision Laufzeit- und Debugdaten
debug/
release/

# Sicherungsdateien
*~
*.bak
*.old
*_org.py

# Editor
.vscode/
.idea/

# Betriebssystem
.DS_Store
Thumbs.db

# Benutzerspezifische Referenzbilder
references/